<!DOCTYPE html>
<html>

<head>
	<title>An HTML standard template</title>
	<meta charset="utf-8"  />
    { % load static %}
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}">
</head>

<body>
    <h1>Welcome to our Zoo application</h1>
     <h2>Welcome to {{zooname}}, we are located in {{zooLocation}}</h2>
    <h4>We have the following animals here:</h4>
    <ul>
        {% for animals in zooAnimals %}
            <li>{{animals}}</li>
        {% endfor %}
    </ul>
    <p></p>

</body>
</html>